:root {
	--background-color: hsla(243, 25%, 12%, 1);
	--background-image: url(../img/starry_sky.jpg);
}

* {
	text-align: justify;
}

html {
	height: 100vh;
	margin: 0;
}

body {
	background-attachment: fixed;
	background-color: var(--background-color) !important;
	background-image: var(--background-image);
	background-repeat: no-repeat;
	display: block;
	margin: 0;
	min-height: 100vh;
	position: relative;
}

h1 {
	font-size: 3em !important;
}

.content-container {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: auto;
	justify-content: center;
	width: 100%;
}

.content {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: auto;
	justify-content: center;
	width: 85%;
}

.card-container {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	justify-content: center;
	margin-bottom: 50px;
	width: 100%;
}

.card {
	height: 300px;
	margin: 10px;
	padding: 5px;
	width: 200px;
}

.card:hover {
	transform: scale(1.05);
}

.card img {
	border-radius: 10px;
	height: 50%;
	object-fit: cover;
	width: 100%;
}

.card p {
	font-size: 14px;
}

.item-container {
	align-content: start;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: auto;
	justify-content: center;
	margin-bottom: 50px;
	width: 100%;
}

.item-list {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	justify-content: center;
	margin: 5px;
	width: 100%;
}

.item {
	margin: 5px;
	width: 70px;
}

.chip-container {
	align-content: start;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: auto;
	justify-content: center;
	margin-bottom: 50px;
	width: 100%;
}

.chip-list {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	justify-content: center;
	margin: 5px;
	width: 100%;
}

.chip {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 60px;
	justify-content: center;
	margin: 5px;
	width: 60px;
}

.footer {
	align-content: center;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 200px;
	justify-content: center;
	position: relative;
	width: 100%;
}

.description-container {
	align-content: center;
	align-items: center;
	bottom: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100px;
	justify-content: center;
	left: 0;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	position: fixed;
	right: 0;
	width: 85%;
}

.description {
	margin-bottom: 20px;
}
