*
{
	/* Text */
	text-align: justify;
}

html
{
	/* Size */
	height: 100%;

	/* Space */
	margin: 0;
}

body
{
	/* Layout */
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;

	/* Size */
	min-height: 100vh;

	/* Space */
	margin: 0;

	/* Style */
	background-image: url(../img/starry_sky.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1
{
	/* Text */
	font-size: 3em !important;
}

.panel
{
	/* Layout */
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;

	/* Size */
	width: 75%;
	height: auto;

	/* Space */
	margin: 5px;
}

.row
{
	/* Layout */
	flex-direction: row;
}

.left
{
	/* Layout */
	align-items: flex-start;
	align-content: start;
}

.card
{
	/* Size */
	height: 150px;
	width: 100px;

	/* Space */
	margin: 10px;
}

.chip
{
	/* Space */
	margin: 5px;
}
