.flex-container
{
    align-content: stretch;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.item
{
    padding: 10px;
}

.name
{
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    width: 100%;
}

.video
{
    border: 3px solid black;
    box-sizing: border-box;
    height: auto;
    width: 100%;
}