:root {
	--char-min-width: 12px;
	--font-family: Comic Sans MS;
	--text-color: rgba(0, 0, 0, 1);
	--text-font-size: 45px;
}

html {
	height: 100%;
	margin: 0;
}

body {
	background: radial-gradient(ellipse at center, rgba(196, 223, 208, 1) 35%, rgba(27, 181, 123, 1) 100%);
	height: 100%;
	margin: 0;
	user-select: none;
}

.container {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
	width: 100%;
}

#text {
	color: var(--text-color);
	font-family: var(--font-family);
	font-size: var(--text-font-size);
}

.char {
	display: inline-block;
	min-width: var(--char-min-width);
	opacity: 0;
	overflow: hidden;
	text-align: left;
	white-space: nowrap;
}

@keyframes charAnimation {
	0% {
		opacity: 0;
	}
	35% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
