:root {
	--background-color: #000;
	--bar-height: 60%;
	--bar-width: 10px;
	--box-height: 200px;
	--box-width: 800px;
	--color: #00b3ff;
	--duration: 3s;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	background: var(--background-color);
	display: flex;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
}

.box {
	align-items: center;
	display: flex;
	height: var(--box-height);
	justify-content: center;
	position: relative;
	width: var(--box-width);
}

.box span {
	align-items: center;
	color: #fff;
	display: flex;
	font-size: 5em;
	font-weight: 600;
	height: 100%;
	justify-content: center;
	letter-spacing: 0.1em;
	text-shadow: 0 0 10px var(--color), 0 0 20px var(--color), 0 0 40px var(--color), 0 0 80px var(--color);
	width: 100%;
}

.bar {
	animation: animatebar var(--duration) linear infinite;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px var(--color), 0 0 20px var(--color), 0 0 40px var(--color), 0 0 80px var(--color);
	height: var(--bar-height);
	width: var(--bar-width);
	z-index: 2;
}

@keyframes animatebar {
	0%,
	5% {
		transform: scaleY(0) translateX(0);
	}

	10% {
		transform: scaleY(1) translateX(0);
	}

	90% {
		transform: scaleY(1) translateX(calc(var(--box-width) - var(--bar-width)));
	}

	95%,
	100% {
		transform: scaleY(0) translateX(calc(var(--box-width) - var(--bar-width)));
	}
}

.front {
	animation: animatefront calc(2 * var(--duration)) linear infinite;
	background: var(--background-color);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

@keyframes animatefront {
	0%,
	2.5% {
		transform: translateX(0);
	}

	5% {
		transform: translateX(0);
	}

	45% {
		transform: translateX(100%);
	}

	47.5%,
	50% {
		transform: translateX(100%);
	}

	50.001%,
	52.5% {
		transform: translateX(-100%);
	}

	55% {
		transform: translateX(-100%);
	}

	95% {
		transform: translateX(0%);
	}

	97.5%,
	100% {
		transform: translateX(0%);
	}
}
