:root {
	--background: hsla(228, 7%, 14%, 1);
	--nav-active-color: hsla(207, 90%, 54%, 1);
	--nav-color: hsla(0, 0%, 100%, 1);
	--nav-inactive-color: hsla(228, 7%, 14%, 1);
	--nav-indicator-size: 70px;
	--nav-item-width: 70px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	background: var(--background);
	display: block;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	position: relative;
}

.center {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	min-width: 100vw;
}

.nav-menu {
	align-items: center;
	background: var(--nav-color);
	border-radius: 10px;
	display: flex;
	height: 60px;
	justify-content: center;
	padding: 0px 25px;
	position: relative;
}

.nav-menu ul {
	display: flex;
}

.nav-menu ul li {
	height: 60px;
	list-style: none;
	position: relative;
	width: var(--nav-item-width);
	z-index: 2;
}

.nav-menu ul li a {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-weight: 500;
	justify-content: center;
	position: relative;
	text-align: center;
	width: 100%;
}

.nav-menu ul li a .nav-icon {
	color: var(--nav-inactive-color);
	display: block;
	font-size: 1.5em;
	line-height: 65px;
	position: relative;
	transition: 0.5s;
}

.nav-menu ul li a .nav-icon svg {
	height: 25px;
	width: 25px;
}

.nav-menu ul li.active a .nav-icon {
	color: var(--nav-active-color);
	transform: translateY(-32px);
}

.nav-menu ul li a .nav-text {
	border-radius: 12px;
	color: var(--nav-color);
	font-size: 0.75em;
	font-weight: 400;
	letter-spacing: 0.05em;
	opacity: 0;
	padding: 2px 7px;
	position: absolute;
	transform: translateY(15px);
	transition: 0.5s;
}

.nav-menu ul li.active a .nav-text {
	background: var(--nav-active-color);
	opacity: 1;
	transform: translateY(-4px);
}

.nav-indicator {
	background: var(--nav-color);
	border-radius: 50%;
	height: var(--nav-indicator-size);
	position: absolute;
	top: -35px;
	transition: 0.5s;
	width: var(--nav-indicator-size);
	z-index: 1;
}

.nav-indicator::before {
	background: transparent;
	border-radius: 50%;
	box-shadow: 15px 20px var(--nav-color);
	content: '';
	height: 30px;
	left: -28px;
	position: absolute;
	top: 5px;
	width: 30px;
}

.nav-indicator::after {
	background: transparent;
	border-radius: 50%;
	box-shadow: -15px 20px var(--nav-color);
	content: '';
	height: 30px;
	position: absolute;
	right: -28px;
	top: 5px;
	width: 30px;
}

.nav-menu ul li:nth-child(1).active ~ .nav-indicator {
	transform: translateX(calc(var(--nav-item-width) * 0 + var(--nav-item-width) / 2 - var(--nav-indicator-size) / 2));
}

.nav-menu ul li:nth-child(2).active ~ .nav-indicator {
	transform: translateX(calc(var(--nav-item-width) * 1 + var(--nav-item-width) / 2 - var(--nav-indicator-size) / 2));
}

.nav-menu ul li:nth-child(3).active ~ .nav-indicator {
	transform: translateX(calc(var(--nav-item-width) * 2 + var(--nav-item-width) / 2 - var(--nav-indicator-size) / 2));
}

.nav-menu ul li:nth-child(4).active ~ .nav-indicator {
	transform: translateX(calc(var(--nav-item-width) * 3 + var(--nav-item-width) / 2 - var(--nav-indicator-size) / 2));
}

.nav-menu ul li:nth-child(5).active ~ .nav-indicator {
	transform: translateX(calc(var(--nav-item-width) * 4 + var(--nav-item-width) / 2 - var(--nav-indicator-size) / 2));
}
