html {
	height: 100vh;
	margin: 0;
}

body {
	background: hsla(0, 0%, 7%, 1);
	color: hsla(0, 0%, 100%, 1);
	display: block;
	font-family: 'Noto Sans', sans-serif;
	overflow-x: hidden;
	position: relative;
}

.grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.grid-item {
	align-content: center;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background: hsla(0, 0%, 21%, 1);
	border-radius: 4px;
	box-shadow: hsla(222, 74%, 5%, 0.1) 0px 0.15rem 0.5rem, hsla(220, 82%, 4%, 0.1) 0px 0.075rem 0.175rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 3rem;
	height: 100%;
	justify-content: center;
	transition: all 500ms;
	width: 100%;
}

.grid-item:hover {
	box-shadow: hsla(220, 82%, 4%, 0.1) 0px 0.35em 1.175em, hsla(220, 82%, 4%, 0.08) 0px 0.175em 0.5em;
	transform: translateY(-3px) scale(1.1);
}
